@import url('reset.css');

body {
  background-color: #202021;
}

.container {
  width: 1000px;
  margin: 0 auto;
  text-align: justify;
}

.img {
  text-align: center;
}

h1 {
  text-align: center;
  color: #960505;
  font-size: 35px;
}

.info {
  color:#fff;
  margin-top: 20px;
  font-size: 18px;
}

h2 {
  color:#960505;
  text-align: center;
  font-size: 35px;
}

.game {
  color:#fff;
  margin-top: 20px;
  font-size: 18px;
}

.textScroll {
  text-align: center;
}

select {
  color:#fff;
  background-color: #202021;
  margin: 20px 30px;
  text-align: justify;
  border: 3px solid #960505;
  font-family: monospace;
  font-weight: 600;
}

.page {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: sans-serif;
}

table, td {
  border: 3px solid black;
  padding: 40px;
  margin: 0 auto;
  border-spacing: 30px;
}

.one, .fourteen {
  background-color: #909090;
}

.two, .three, .four, .seven, .nine, .eleven, .twelve {
   background-color: #385b12;
}

.five {
  background-color: #2bff00;
}

.six, .thirteen {
  background-color: #1a2f00;
}

.eight {
  background-color: #cbcb13;
}

.ten {
  background-color: blue;
}

caption {
  font-size: 24px;
  color: #fff;
}

.color-text {
  color: yellow;
}

.scrollSelect { 
font-size: 16px; 
font-family: sans-serif; 
font-weight: 700; 
}